<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= book.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Status date:</strong>
    <%= book.status_date %>
  </p>

  <p>
    <strong>Internal info:</strong>
    <%= book.internal_info %>
  </p>

</div>
